streamlit
# Utilities
numpy
pandas 

# Face Recognition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptoolssetuptools<81

supabase
bcrypt

segno # for generating QR Code
pillow # image dealing lib



librosa
resemblyzer